body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("image/backgroundimg.jpg");
    background-position: center;
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: center;
    height:4px;
}

.footer a {
    font-size: 12px;
    color: white;
}

.footer img {
    margin-top: 15px;
}


#display {
    margin: 3em 0.1em 0.1em 0.15em;
    border-radius: 5px;
    background-color: azure;
    display: flex;
    justify-content: end;
    align-items: end;   
    border: 0px ;
    white-space: nowrap;
    overflow-x: auto; 
    max-width: 100%;
    height: 40px;
}
.container {
    box-sizing: border-box;
    width: 120px;
    height: 210px;
    background-color:#1c1c1c;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px white;
}

.container p{
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.buttons button {
    border: none;
    border-radius: 10em;
    cursor: pointer;
    margin: 1px;
}

#delete {
    background-color: rgb(241, 122, 122);
}

#delete:hover {
    background-color: #c47575;
}

#delete:active {
    background-color: rgb(241, 122, 122);
}

.operand:hover {
    background-color: #e4dada;
}

.operator {
    background-color: #FFCC00;
}
.operator:hover {
    background-color: rgb(229, 195, 134);
}
.operator:active {
    background-color: #FFCC00;
}

.sign {
    background-color: rgb(161, 151, 151);
}

.sign:active {
    background-color: rgb(161, 151, 151);
}

.sign:hover {
    background-color: grey;
}
#clear {
    background-color: red;
}

.buttons #clear:hover {
    background-color: #e37272;
}

.buttons #clear:active {
    background-color:rgb(241, 122, 122);
} 


#equal {
    background-color: green;
}

.buttons #equal {
    border-radius: 5px;
}

.buttons #equal:hover {
    background-color: rgb(185, 228, 185);
}

.buttons #equal:active {
    background-color: darkgreen;
}   

@media screen and (max-width : 400px ) {
    .container {
        width: 300px;
        height: 100%;
    }
}

@media screen and (max-width : 1450px) {
    .container {
        width: 600px;
        height: 560px;
    }

    .buttons {
        grid-template-rows: repeat(5, 80px);
    }

    #display {
        height: 90px;
        font-size: 50px;
        margin-top: 0px;
    }

    button {
        font-size: 40px;
    }
    .footer {
        height: 40px;
    }
}